.segmentWrapper {
  -webkit-user-select: none;
  pointer-events: none;
}

.segment {
  pointer-events: auto;
  display: inline;
  text-align: start;
  // uncomment if the text should not break
  //white-space: pre;
  user-select: text;

  transition: background, color 150ms ease-out;

  &__button:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &--noMatches {
    cursor: text;
  }

  &--dark {
    color: black;
    filter: invert(1);
  }

  &--selected {
    font-weight: 900;
  }

  &--parallel-hovered {
    background: var(--mui-palette-common-black) !important;
    color: var(--mui-palette-common-white) !important;
  }
}

.segmentNumber {
  &::before {
    content: attr(data-segmentnumber);
    font-size: 0.6rem;
    padding: 0.2em;
    margin-right: 1em;
  }

  &--selected {
    text-decoration: underline;
    font-weight: 900;
  }

  &--hidden {
    display: none;
  }
}