services:
  fastapi:
    command: uvicorn --host 0.0.0.0 api.main:APP
    environment:
      - PROD=1

  frontend:
    container_name: frontend
    build:
      context: frontend
      dockerfile: prod.Dockerfile
      args:
        NEXT_PUBLIC_DOWNLOAD_URL: ${NEXT_PUBLIC_DOWNLOAD_URL}
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    restart: always
    ports:
      - "3000:3000"

volumes:
  dbdata:
