.segment {
  display: inline;
  text-align: start;

  //make button appear like span
  background: none !important;
  border: none;
  padding: 0 !important;
  font-size: 1rem;

  &__button:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &--dark {
    filter: invert(1);
  }

  &--selected {
    background: #eeeeee !important;
    text-decoration: underline;
  }
}

.segmentContainer {
  &__selected {
    background-color: lightgray;
  }
}

.segmentNumber {
  &::before {
    content: attr(data-segmentnumber);
    font-size: 0.6rem;
    padding: 0.2em;
    margin-right: 1em;
  }

  &--selected {
    text-decoration: underline;
  }

  &--hidden {
    display: none;
  }
}
