.loadingSpinnerContainer {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: opacity 250ms;
  opacity: 0;
  pointer-events: none;
  z-index: 10;

  &Loading {
    opacity: 1;
    pointer-events: auto;
  }

  &WithBackground {
    background: var(--mui-palette-background-paper) !important;

    &Loading {
      pointer-events: none;
    }
  }

}

.loadingSpinner {
  width: 48px;
  height: 48px;
  z-index: 10;
  position: absolute;
  left: calc(50%);
  top: calc(50%);
  animation: rotating 2s ease-in-out infinite;
}

@keyframes rotating {
  from {
    // translate3d is to GPU accelerate this
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

